
{% load staticfiles %}
{% load auth_extras %}

{% block header %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Driving School a Business Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Driving School" />
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
    <link
        href="//fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese"
        rel="stylesheet">
</head>
<div class="header-bottom">
    <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html"><span>Driving </span>School</a></h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <nav class="link-effect-2" id="link-effect-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home"><span data-hover="Home">Home</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-hover="Lessons">Lessons</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu agile_short_dropdown">
                            <li><a href="/#packages">Package</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-hover="Account">Account</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu agile_short_dropdown">
                                <li><a href="/calendar">Calendar</a></li>
                                <li><a href="/user">User</a></li>
                                {% if user|has_group:'administrator' %}
                                    <li><a href="/admin-panel">Admin panel</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="/logout"><span data-hover="Logout">Logout</span></a></li>
                    {% else %}
                        <li><a href="/#form-register"><span data-hover="Register">Register</span></a></li>                        
                        <li><a href="/login"><span data-hover="login">login</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="agileinfo-social-grids">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<!-- footer -->
<div class="w3-agile-footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Address</h4>
                </div>
                <div class="footer-grid-info">
                    <p>Eiusmod Tempor inc
                        <span>St Dolore Place,Kingsport 56777.</span>
                    </p>
                    <p class="phone">Phone : +1 123 456 789
                        <span>Email : <a href="mailto:example@email.com">mail@example.com</a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Navigation</h4>
                </div>
                <div class="footer-grid-info">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="lessons.html">Lessons</a></li>
                        <li><a href="/#form-register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Latest Posts</h4>
                </div>
                <div class="w3agile_footer_grid_list">
                    <ul>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Vestibulum ante ipsum</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Phasellus at eros</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Mauris eleifend aliquet</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Aliquam vitae tristique</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Pellentesque lobortis</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Class aptent taciti</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Twitter Posts</h4>
                </div>
                <div class="w3agile_footer_grid_list w3agile-post">
                    <ul>
                        <li>Ut aut reiciendis voluptatibus <a href="#">http://example.com</a> alias, ut aut.
                            <span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
                        <li>Itaque earum rerum hic tenetur a sapiente <a href="#">http://example.com</a> ut aut.
                            <span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="agileits-w3layouts-copyright">
            <p>© 2017 Driving School . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
{% endblock %}