{% extends "index.html" %}
{% load staticfiles %}
{% static "" as  BaseUrl %}
{% block content %}
<body>
<!-- contact -->		
<div class="contact"> 
		{% if form.errors %}
			<div class="alert alert-danger text-center">
				{% for error in form.non_field_errors  %}
				<h4> {{ error }} </h4>
				{% endfor %}
				{% for field in form %}
					{% if field.errors %}
						<h4>{{field.name}}</h4> {{ field.errors }}
					{% endif %}            
				{% endfor %}
			</div>
    	{% endif %}
		<div class="container">
			<div class="w3l-heading">
				<h2 class="w3ls_head">Welcome back !</h2>
			</div>
			<div class="contact-agileinfo">
				<div class="col-md-12"> 
					<form action="#" method="post"> 
						{% csrf_token %}
						<input type="text" name="email" placeholder="Email" >
						<input type="password" name="password" placeholder="password" >
						<input type="submit" value="SUBMIT" > 
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div> 
	</div>
	<!-- //contact -->	

        
{% endblock %}